.skills-container{
    width:100%;
  
    min-height: 20vh;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
}

.skills-img{
    width:200px;
    height:200px;
    
    animation:20s linear 1s infinite alternate side-scroll;
}

@keyframes side-scroll {
  from {
    transform: translateX(-40vw);

  }
 
  to {
    transform: translateX(10vw);
    
  }
  
}

@keyframes mini {
    from {
      transform: translateX(-600vw);
  
    }
   
    to {
      transform: translateX(100vw);
    }
    
  }


@media(max-width:600px) 
{
  .skills-img{
    animation: 20s linear 1s infinite alternate mini;
  }
}